<ion-header>
  <ion-toolbar>
  	<ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>formulario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

	<form (ngSubmit)="formSubmit()">
		<ion-item>
			<ion-label>Name</ion-label>
        	<ion-input type="text" [(ngModel)]="dadosPessoa.name" name="name" required></ion-input>
     	</ion-item>
      	<ion-item>
        	<ion-label>Job</ion-label>
        	<ion-textarea [(ngModel)]="dadosPessoa.job" name="job" required></ion-textarea>
		</ion-item>
		<ion-button type="submit" expand="block">Enviar</ion-button>
	</form>
		
		<!-- <ion-item>
			<ion-label>E-mail</ion-label>
			<ion-input type="email"></ion-input>
		</ion-item>

		<ion-item>
			<ion-label>First Name</ion-label>
			<ion-input type="text"></ion-input>
		</ion-item>

		<ion-item>
			<ion-label>Last Name</ion-label>
			<ion-input type="text"></ion-input>
		</ion-item>

		<ion-button color="primary" type="submit"> Enviar </ion-button> -->



</ion-content>
